<div class="container-fluid border p-2 mt-3">
  <div class="row">
    <div class="col-md-12">
      <p>Todos list here</p>
      <ul class="list-group">
        <li class="list-group-item d-flex">
          <span class="flex-grow-1">Cras justo odio</span>
          <button class="btn btn-sm btn-danger rounded-0">-</button>
        </li>
        <li class="list-group-item d-flex">
          <span class="flex-grow-1">Cras justo odio</span>
          <button class="btn btn-sm btn-danger rounded-0">-</button>
        </li>
      </ul>
    </div>
  </div>
</div>
