/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';

.app-container{
  width: 700px;
  height: 600px;
  margin:auto;
  margin-top: 40px;
}
